@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Farsan&family=Gowun+Dodum&family=Recursive:wght@300&family=Saira+Semi+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend+Deca:wght@200&family=Satisfy&display=swap');
*{ /*Selector Universal/Asterisco*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}
header img{
    display: flex;
    width: 200px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    justify-content: space-between; 
    min-height: 80%; 
    align-items: center;
}
header {
    text-transform: uppercase;
    display: flex; 
    justify-content: space-between;
    min-height: 80%; 
    align-items: center;
}
header h1{
    padding-top: 20px;
    font-size: 60px;
    font-weight:700;
    padding-right: 50%;
    font-family: 'Great Vibes', cursive;
    text-transform: none;
}
header input{
    width: 300px;
    padding: 10px;
    margin-right: 50px;
}
.logo img{
    width: 250px;
}
.principal{
    width: 100%;
    height: 50px;
    background: rgb(226, 25, 25);
    padding: 1px 16px;
}
/*.barra{
    width: 500px;
    margin: 0 38%;
}*/
.barramenu{
    max-width: 1200px;
    margin: auto;
    height: 100px;
}
nav{
    height: 100%;
}
nav > ul{
    height: 80%;
    display: flex;
}
nav  ul li{
    height: 100%;
    list-style: none;
    position: relative;
}
/*PARA LA IMAGEN DE INCIO - HOME*/
nav > ul >li:first-child>a{
    background-image: url(../imagenes/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
nav > ul >li:first-child:hover >a{
    background-image: url(../imagenes/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
/*PARA CONFIGURAR LA BARRA DE MENU*/
}
nav > ul >li >a{
    width: 100px;
    margin: 10px;
    height: 25px;
    display: flex;
    color: white;
    padding: 15px;
    transition: all 300ms ease;
    align-items: center;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
}
nav > ul >li >a:hover{
    transform: scale(1.0);
    background: rgba(241, 146, 146, 0.815);
    box-shadow: 0px 0px 10px 0px rgb(245, 71, 71)
}

/*SUB MENU*/
nav ul li ul{
    width: 200px;   
    background: white;
    position: absolute;
    top: 80px;
    left: 10px;
    visibility: hidden; /*PARA Q LA BARRA DE COREA ESTE OCULTO*/
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,5);
    z-index: 10;
    transition: all 300ms ease;
}
/*PARA QUE TENGA EL EFECTO DEL SUB MENU EN LA BARRA*/
nav ul li:hover ul{
    visibility: visible;
    opacity: 2;
    top: 50px;
}
nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: -10px;
    left: 20px;
}
nav ul li ul li a{
    display: block;
    color: brown;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px; /*CREAR SEPARACION ABAJO*/
    font-size: 15px;
    text-transform: uppercase; /*PARA QUE SEAN MAYULUSCULA */
    font-family: 'Gowun Dodum', sans-serif;
}
nav ul li ul li a:hover{
    background:  rgba(255, 174, 174, 0.623);
    color: black;
    transform: scale(1.1);
    padding-left:30px ;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,5);
}
/*ul{
    list-style: none;
}
.menu > li{
    float: left;
}
.menu li a{
    color: black;
    background-color: rgb(167, 126, 77);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}
.menu li a:hover{
    background-color: brown;
}
.menu li ul{
    display: none;
    position: absolute;
    min-width: 150px;
}
.menu li:hover > ul{
    display:block;
}
.menu li ul li{
    position: relative;
}
.principal h1{
    text-align: center;
    font-size: 40px;
    background: rgb(63, 141, 177);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}*/

/*ARTICULO */
hr{
    border-color: rgb(71, 71, 61);
    margin: 0 2%;
}
main{
    background-color: #f0f0f0;
    padding: 40px 20px;
    margin-top: 6px;
    margin-left: 2%;
    margin-right: 2%;
}
article{
    max-width: 1200px;
    margin: 20px auto;
    background-color: #f0f0f0;
}
article p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300px;
}
.img2{
    margin: 0 34%;
}
/*IMAGENES*/
.secundario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.fotos{
    padding: 0 15px 20px;
}
img:hover{
    opacity: .5;
    transition: .1s;
}

/*PIE DE PÁGINA*/
footer {
    background-color: rgb(255, 250, 182);
    color: rgb(20, 19, 19);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer img {
    width: 20px;
    margin: 0 1% 0 0;
    
}

footer ul {
    text-align: left;
    list-style-type: none;
    font-size: 20px;
}

.colum2{
    margin-top: 20px;
    margin: 0 60px 0;
    display:inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.colum2 img{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
.colum2 label{
    margin-top: 1px;
    font-family: 'Quicksand', sans-serif;  
    font-size: 15px;
    text-align: center;
    color: black;
}
.colum3{
    margin-top: 20px;
    margin: 0% 16%;
    text-decoration: none;
    display:inline-block;
    color: black;
    font-weight: 700;
    font-size: 16px;
}
.colum3 img{
    width: 25px;
    height: 25px;
    margin: 0 10px;
    text-decoration:none;
}
.colum3 label{
    margin-top: 1px;
    font-family: 'Quicksand', sans-serif;  
    font-size: 15px;
    text-align: center;
    text-decoration:none;
}
.colum4{
    margin-top: 20px;
    margin: 0% 80px;
    text-decoration: none;
    display:inline-block;
    font-weight: 700;
    color: black;
    font-size: 16px;

}
.colum4 img{
    width: 25px;
    height: 25px;
    margin: 0 10px;
    text-decoration:none;
}
.colum4 label{
    margin-top: 1px;
    font-family: 'Quicksand', sans-serif;  
    font-size: 15px;
    text-decoration:none;
    text-align: center;
}