@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{ /*Selector Universal/Asterisco*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}
.header div{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: ghostwhite;
}
.headersuperior{
    max-width: 1200px;
    margin: 0 40px;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}
.logo img{
    width: 290px;
}
.search input{
    width: 300px;
    padding: 10px;
}
.principal{
    width: 100%;
    height: 50px;
    background: rgb(175, 255, 121);
    padding: 1px 16px;
}
/*.barra{
    width: 500px;
    margin: 0 38%;
}*/
.barramenu{
    max-width: 1200px;
    margin: auto;
    height: 100px;
}
nav{
    height: 100%;
}
nav > ul{
    height: 80%;
    display: flex;
}
nav  ul li{
    height: 100%;
    list-style: none;
    position: relative;
}
/*PARA LA IMAGEN DE INCIO - HOME*/
nav > ul >li:first-child>a{
    background-image: url(../imagenes/homee.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
nav > ul >li:first-child:hover >a{
    background-image: url(../imagenes/homee.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
/*PARA CONFIGURAR LA BARRA DE MENU*/
}
nav > ul >li >a{
    width: 100px;
    margin: 10px;
    height: 25px;
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 14px;
    transition: all 300ms ease;
    align-items: center;
}
nav > ul >li >a:hover{
    transform: scale(1.0);
    background: rgba(171, 255, 182, 0.87);
    box-shadow: 0px 0px 10px 0px rgb(120, 197, 101)
}

/*SUB MENU*/
nav ul li ul{
    width: 200px;   
    background: rgba(255, 255, 255, 0.822);
    position: absolute;
    top: 80px;
    left: 10px;
    visibility: hidden; /*PARA Q LA BARRA DE COREA ESTE OCULTO*/
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,5);
    z-index: 10;
    transition: all 300ms ease;
}
/*PARA QUE TENGA EL EFECTO DEL SUB MENU EN LA BARRA*/
nav ul li:hover ul{
    visibility: visible;
    opacity: 2;
    top: 50px;
}
nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: -10px;
    left: 20px;
}
nav ul li ul li a{
    display: block;
    color: rgb(67, 165, 42);
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px; /*CREAR SEPARACION ABAJO*/
    font-size: 14px;
    text-transform: uppercase; /*PARA QUE SEAN MAYULUSCULA */
}
nav ul li ul li a:hover{
    background:  rgba(174, 255, 185, 0.623);
    color: black;
    transform: scale(1.1);
    font-weight: bold;
    padding-left:30px ;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,5);
}

/*ARTICULO */
hr{
    border-color: rgb(71, 71, 61);
}
main{
    background-color: #f0f0f0;
    padding: 40px 20px;
    margin-top: 5px;
}
article{
    max-width: 1200px;
    margin: 20px auto;
    background-color: #f0f0f0;
}
article p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300px;
}
.img1{
    margin: 0 30%
}
.img2{
    margin: 0 30%;
}
.img3{
    margin: 0 30%;
}

/*IMAGENES*/
.secundario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.fotos{
    padding: 0 15px 20px;
}
img:hover{
    opacity: .5;
    transition: .1s;
}

footer {
    background-color: rgb(255, 250, 182);
    color: rgb(20, 19, 19);
}

footer img {
    width: 20px;
    margin: 0 1% 0 0;
    
}

footer ul {
    text-align: left;
    list-style-type: none;
    font-size: 20px;
}

.colum2{
    margin-top: 20px;
    margin: 0 60px 0;
    display:inline-block;
    color: black;
}
.colum2 img{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    color: black;
}
.colum2 label{
    margin-top: 1px;
    font-family: 'Quicksand', sans-serif;  
    font-size: 15px;
    text-align: center;
    color: black;
}
.colum3{
    margin-top: 20px;
    margin: 0% 16%;
    text-decoration: none;
    display:inline-block;
    color: black;
}
.colum3 img{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    text-decoration:none;
}
.colum3 label{
    margin-top: 1px;
    font-family: 'Quicksand', sans-serif;  
    font-size: 15px;
    text-align: center;
    text-decoration:none;
}
.colum4{
    margin-top: 20px;
    margin: 0% 80px;
    text-decoration: none;
    display:inline-block;

}
.colum4 img{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    text-decoration:none;
}
.colum4 label{
    margin-top: 1px;
    font-family: 'Quicksand', sans-serif;  
    font-size: 15px;
    text-decoration:none;
    text-align: center;
}